// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary: #223A47;
$secondary: #F27257;


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1440px;


body {
	// font-family: 'Fredericka the Great', cursive;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.25;
}

#wrapper-navbar {

	margin-bottom: -360px;

	@media(max-width: $lg) {
		margin-top: 0px;
	}

	// control mobile version of logo display
	.mobile-logo-holder {
		text-align: center;
		display: none; //only shows logo from size $md
		@media(max-width: $md) {
			display: block;
		}

		img {
			width: 66%;
			margin-top: 10px;
			margin-bottom: 10px;
			@media(max-width: $sm) {
				width: 70%;
			}
		}
	}

	.top-header-holder {
		height: 260px;
		padding-top: 50px;
		padding-bottom: 50px;

		@media(max-width: $lg) {
			padding-top: 30px;
			height: auto;
			padding-bottom: 30px;
		}

		@media(max-width: $md) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.navbar-toggler {
			display: none;

			@media(max-width: $lg) {
				display: block;
			}

			padding: 0em 1em;
			padding-top: 1em;

			&:hover {
				background: rgba(#5DA0AA, 0.4);
			}

			.bar {
				height: 4.5px;
				border-radius: 2px;
				background: $secondary;
				margin-bottom: 4px;
				width: 2em;
			}

			.menu-title {
				font-size: 14px;
				margin-top: 2em;
				color: $primary;
				text-transform: uppercase;
				font-weight: 600;
			}

			// unless in md-view version dont display menu button
			&.md-view {
				display: none;
			}

			// at md size menu toggle will get pushed over to the right, downsize and menu title will move next to it
			@media(max-width: $md) {
				display: none;

				&.md-view {
					display: flex;
					padding: 0.5em;
					padding-bottom: 0.5em;
					// align-items: center;
					// margin: -0.5em;

					.menu-title {
						margin-top: 0;
						margin-right: 0.5em;
						font-size: 18px;
					}

					.bar {
						height: 2px;
						border-radius: 2px;
						background: $secondary;
						margin-bottom: 0.2em;
						width: 1.2em;
					}
				}
			}
		}

		.container {
			.logo-holder {
				display: block;

				img {
					width: 275px;

					@media(max-width: $lg) {
						width: 200px;
					}
				}

				@media(max-width: $md) {
					display: none;
				}
			}

			.col-6 {
				@media(max-width: $lg) {
					text-align: center;
				}
			}

			.social-media-holder,
			.social-media-holder-tablet {
				font-size: 50px;

				a {
					color: $secondary;
					text-decoration: none;

					&:hover {
						color: darken($secondary, 15%);
					}
				}

				@media(max-width: $lg) {
					display: none;
				}

				&.social-media-holder-tablet {
					display: none;

					@media(max-width:$lg) {
						display: inline-block;
						font-size: 18px;
					}

					@media(max-width: $md) {
						display: none;
					}
				}
			}

			.contact-holder {
				font-size: 18px;
				font-weight: 600;

				@media(max-width: $md) {
					display: flex; //puts items next to each other
					justify-content: space-between;
				}

				a {
					display: inline-block;
					margin-right: 1em;
					margin-bottom: 1em;

					@media(max-width: $lg) {
						margin-right: 0.5em;
						margin-bottom: 0.5em;
						// padding-bottom: 0.5em;
					}

					@media(max-width: $md) {
						margin-right: 0em;
						margin-bottom: 0em;
						margin-top: 8px;
					}

					color: $primary;

					.fa {
						color: $secondary;
					}
				}

				.address {
					@media(max-width: $lg) {
						display: none;
					}
				}
			}
		}

		.reservation-btn {
			font-family: 'Fredericka the Great';
			font-size: 38px;
			border: 4px solid $secondary;
			border-radius: 0.25em;
			display: inline-block;
			padding: 0.25em 0.5em;
			transition: 0.25s ease all;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				background: $secondary;
				color: white;
			}

			@media(max-width: $lg) {
				font-size: 18px;
			}

			@media(max-width: $md) {
				display: none;

				&.mobile {
					display: block;
					margin-top: 10px;
				}
			}
		}
	}


	#main-nav {
		border-top: 2px solid rgba(#5DA0AA, 0.5);
		border-bottom: 2px solid rgba(#5DA0AA, 0.5);
		padding: 0px;

		@media(max-width: $lg) {
			border-top: 2px solid rgba(#5DA0AA, 0.5);
			border-bottom: none;
		}


		ul {
			flex: 1;
			justify-content: space-between;

			li {
				a {
					font-weight: 600;
					font-size: 22px;
					text-transform: uppercase;
					padding: 1.5em 0.5em;

					@media (max-width: $xl) {
						font-size: 20px;
						padding: 1.5em 0.33em;
					}
				}

				&.current_page_item {
					a {
						color: $secondary;
					}
				}
			}
		}
	}
}

.home-banner {
	height: 1080px;
	background-image: url(http://localhost:8888/Backbeach/backbeach-wp/wp-content/uploads/2020/11/home-banner.png);
	background-size: cover;

	// opacity: 0.6;

	background-position: top center;

	@media(max-width: $lg) {
		background-position: -300px center;
		background-repeat: no-repeat;
	}
}
